$base-color: #00f !default; // blue
$border-dark: rgba($base-color, 0.88) !default;
$alert-box-size: 600px !default;
$font-color: #fff;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #1d2a40;

$background-alternative-color: #e0fbfc;
