{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

   
    <div class="teknologi12">
    {{ content }}
    </div>
  
</body>

{% include 'incl/footer.twig' %}

</html>

